@charset "UTF-8";
@font-face{
    font-family: 'FonteLogo';
    src: url("../../curso-html5-pacote01/projeto-glass-html5/_fonts/bubblegum-sans-regular.otf");
}
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap');
body{
    background-color: #dddddd;
    font-family: Arial, Helvetica, sans-serif;
}

#inteface{
    width: 900px;
    background-color: white;
    margin: -20px auto 0px auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.699);
    padding: 10px;
}

#icone{
    position: absolute;
    left: 820px;
    top: 40px;
}

p{
    text-align: justify; 
    text-indent: 50px;
}

/* Formatação de imagens com legendas */

.foto-legenda{
    position: relative;
    border: 8px solid white;
    box-shadow: 1px 1px 4px black;
}

.foto-legenda img{
    width: 100%;
    height: 100%;
}

.foto-legenda figcaption{
    opacity: 0;
    position: absolute;
    top: 0px;
    background-color: rgba(0, 0,0,.4);
    color: white;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    transition: opacity 1s;
}

.foto-legenda:hover figcaption{
    opacity: 1;
}

/* Menu */

#menu {
    display: block;
}

#menu ul {
    list-style: none;
    text-transform: uppercase;
    position: absolute; /* Absoluta ele fica dentro do site, relativa faz ele ficar dentro do objeto */
    top: -20px;
    left: 400px;
}

#menu li {
    display: inline-block;
    background-color: #dddddd;
    padding: 10px;
    margin: 2px;
    transition: background-color 1s;
}

#menu ul :hover {
    background-color: #606060;
    color: white;
    text-decoration: underline;
}

#menu h1{
    display: none;
}

#menu a{
    color: black;
    text-decoration: none;
}
/* Section */

#conteudo{
    display: block;
    width: 500px;
    float: left;
    margin-bottom: 15px;
    border-right: 1px solid black;
    padding-right: 20px;
    margin-bottom: -1px;
}

#conteudo h1, h2{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #dddddd;
    color: #606060;
    text-align: left;
    font-weight: bolder;
}

#att {
    text-align: right;
    font-size: 10px;
    font-weight: 400;
    color: #606060;
}

/* Aside */

#lateral{
    background-color: #dddddd;
    display: block;
    width: 350px;
    float: right;
    padding: 10px;
    margin-top: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.582);
}

#lateral h1{
    color: #606060;
}

#lateral h2{
    color: white;
    background-color: #606060;
    padding: 5px;
    margin: 5px;
}

/* Cabeçalho */

#cabecalho {
    border: 1px solid black;
    height: 150px;
    background: url(../../curso-html5-pacote01/projeto-glass-html5/_imagens/glass-logo-peq.jpg) no-repeat 0px 85px;
}

#cabecalho h1{
    font-family: 'FonteLogo', Helvetica, sans-serif;
    font-size: 30px;
    color: #606060;
    text-shadow: 1px 1px 3.2px rgba(0, 0, 0, 0.61);
    padding: 0px;
    padding-left: 5px;
    margin-bottom: -1px;
}

#cabecalho h2{
    font-family: 'Titillium Web', sans-serif;
    color: #888888;
    font-size: 15px;
    padding: 0px;
    margin-top: -1px;
    padding-left: 5px;
}

/* Rodapé */

#rodape{
    clear: both;
    border-top: 1px solid black;
    margin-top: -5px;
}

#rodape p{
    margin-top: 5px;
    text-align: center;
}

#redes {
    color: #808080;
}

#pipe {
    color: black;
}