@charset "UTF-8";

div{
    display: inline-block;/*Faz com que as divs estejam sempre na mesma linha*/
    background-color: rgba(129, 128, 128, 0.521);
    text-align: center;
    height: 200px;/*Altura*/
    width: 200px;/*Largura*/
    border: 1px solid black;/*cria uma borda solida com 1px da cor preta*/
}

div:hover{/*Hover é uma pseudo-classe, que determina quando o mouse for passado por cima do elemento*/
    background-color: yellow;/*A cor de fundo dele se torne amarelo*/
}