@charset "UTF-8";
/*O comando abaixo serve para carregar fontes dentro do CSS*/
@font-face{
    font-family: 'idroid';
    src: url("fontes/idroid.otf"); 
    src: url("fontes/idroid.otf") format("opentype");
    font-style: normal;
}

body{
    font-family:Arial, Helvetica, sans-serif;
}

header{
    text-align: center;
    background-image: linear-gradient()
}

.h1main{
    font-family: 'idroid';
}