@charset "UTF-8";

* {
    /*height: 100%;*/
    font-family: Arial, Helvetica, sans-serif;
}

p {
    text-align: justify;
}

body {
    background-image: linear-gradient(to right,  #74068A, #330052)
}

main {
    background-color: white;
    width: 600px;
    box-shadow: 5px 5px 5px black;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
}

h1 {
    color: #FF5C1C;
    text-align: center;
    text-shadow: 1px 1px 2px black;
}

h2 {
    color: #FFA30D;
}