@charset "UTF-8";

h1{
    background-color: lightgrey;
    height: 300px;
    width: 300px;
    border-width: 10px;
    border-style: solid;
    border-color: darkolivegreen;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
}

a{
    border-width: 10px;
    border-style: unset;
    border-color: red;
}

p{
    margin-top: 10px;
}

/*
Estilos de borda:
    border-style: dashed; Pontilhado
    border-style: dotted; Bolinhas
    border-style: double; Linha dupla
    border-style: groove; 3d
    border-style: hidden; Oculta
    border-style: inherit; Oculta
    border-style: inset; 3d com as cores claras para baixo e escuras para cima
    border-style: outset; 3d com as cores claras para cima e escuras para baixo
    border-style: ridge; 3d com as cores claras externas e escuras internas
    border-style: solid; solido, linha de cores retas
    border-style: unset; Oculta
*/

/*
Padding:

    Padding serve para configurar o espaçamento interno de uma box, ele seira
*/